<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- namespace命名规则: 表对应java类的名称 -->
<mapper namespace="QuartzSchedule">
    <select id="exists" parameterType="com.yinker.etl.qrtz.model.base.QuartzSchedule" resultType="com.yinker.etl.qrtz.model.base.QuartzSchedule">
        SELECT job_name
        FROM qrtz_job_details
        <where>
            <if test="name != null and name != ''">
                <![CDATA[and job_name = #{name}]]>
            </if>
        </where>
    </select>
</mapper>