<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- namespace命名规则: 表对应java类的名称 -->
<mapper namespace="PmDataSource">
	<!-- 表的所有字段 -->
	<sql id="allColumns">
		<![CDATA[
			id,
			name,
			code,
			database_name,
			database_type,
			database_category,
			host_name,
			user_name,
			port,
			password,
			owner,
			create_time,
			last_update_time
	    ]]>
  	</sql>

	<!-- 表的主键字段 -->
	<sql id="pkColumns">
		<![CDATA[
			id
	    ]]>
	</sql>

	<!-- 根据实体的查询对象进行查询的sql -->
	<sql id="querySql">
		select <include refid="allColumns" />
		from pm_data_source
		<where>
			<if test="id != null and id != ''">
				<![CDATA[and id = #{id}]]>
			</if>
			<if test="name != null and name != ''">
				<![CDATA[and name LIKE CONCAT('%', #{name}, '%')]]>
			</if>
			<if test="code != null and code != ''">
				<![CDATA[and code = #{code}]]>
			</if>
			<if test="databaseName != null and databaseName != ''">
				<![CDATA[and database_name = #{databaseName}]]>
			</if>
			<if test="databaseType != null and databaseType != ''">
				<![CDATA[and database_type = #{databaseType}]]>
			</if>
			<if test="databaseCategory != null and databaseCategory != ''">
				<![CDATA[and database_category = #{databaseCategory}]]>
			</if>
			<if test="hostName != null and hostName != ''">
				<![CDATA[and host_name = #{hostName}]]>
			</if>
			<if test="userName != null and userName != ''">
				<![CDATA[and user_name = #{userName}]]>
			</if>
			<if test="port != null">
				<![CDATA[and port = #{port}]]>
			</if>
			<if test="portStart != null">
				<![CDATA[and port >= #{portStart}]]>
			</if>
			<if test="portEnd != null">
				<![CDATA[and port <= #{portEnd}]]>
			</if>
			<if test="password != null and password != ''">
				<![CDATA[and password = #{password}]]>
			</if>
			<if test="owner != null and owner != ''">
				<![CDATA[and owner = #{owner}]]>
			</if>
			<if test="createTime != null">
				<![CDATA[and create_time = #{createTime}]]>
			</if>
			<if test="createTimeStart != null">
				<![CDATA[and create_time >= #{createTimeStart}]]>
			</if>
			<if test="createTimeEnd != null">
				<![CDATA[and create_time <= #{createTimeEnd}]]>
			</if>
			<if test="lastUpdateTime != null">
				<![CDATA[and last_update_time = #{lastUpdateTime}]]>
			</if>
			<if test="lastUpdateTimeStart != null">
				<![CDATA[and last_update_time >= #{lastUpdateTimeStart}]]>
			</if>
			<if test="lastUpdateTimeEnd != null">
				<![CDATA[and last_update_time <= #{lastUpdateTimeEnd}]]>
			</if>
		</where>
	</sql>

	<!-- 新增数据 -->
	<insert id="insert" parameterType="com.yinker.etl.pm.model.base.PmDataSource">
		<![CDATA[
			insert into pm_data_source (
				id,
				name,
				code,
				database_name,
				database_type,
				database_category,
				host_name,
				user_name,
				port,
				password,
				owner,
				create_time,
				last_update_time
			) values (
				#{id},
				#{name},
				#{code},
				#{databaseName},
				#{databaseType},
				#{databaseCategory},
				#{hostName},
				#{userName},
				#{port},
				#{password},
				#{owner},
				#{createTime},
				#{lastUpdateTime}
			)
		]]>
	</insert>

	<!-- 根据主键删除数据 -->
	<delete id="deleteByPK" parameterType="com.yinker.etl.pm.model.base.PmDataSourcePK">
		<![CDATA[
			delete from pm_data_source
				where
				id=#{id}
    	]]>
	</delete>

	<!-- 根据主键更新数据 -->
	<update id="updateByPK" parameterType="com.yinker.etl.pm.model.base.PmDataSource">
		update pm_data_source
		<set>
			<if test="name != null"><![CDATA[name = #{name},]]></if>
			<if test="code != null"><![CDATA[code = #{code},]]></if>
			<if test="databaseName != null"><![CDATA[database_name = #{databaseName},]]></if>
			<if test="databaseType != null"><![CDATA[database_type = #{databaseType},]]></if>
			<if test="databaseCategory != null"><![CDATA[database_category = #{databaseCategory},]]></if>
			<if test="hostName != null"><![CDATA[host_name = #{hostName},]]></if>
			<if test="userName != null"><![CDATA[user_name = #{userName},]]></if>
			<if test="port != null"><![CDATA[port = #{port},]]></if>
			<if test="password != null"><![CDATA[password = #{password},]]></if>
			<if test="owner != null"><![CDATA[owner = #{owner},]]></if>
			<if test="createTime != null"><![CDATA[create_time = #{createTime},]]></if>
			<if test="lastUpdateTime != null"><![CDATA[last_update_time = #{lastUpdateTime},]]></if>
		</set>
		where
		id=#{id}
	</update>

	<!-- 根据主键查询对象 -->
	<select id="selectByPK" parameterType="com.yinker.etl.pm.model.base.PmDataSourcePK" resultMap="etl.PmDataSourceRM">
		select <include refid="allColumns" />
		<![CDATA[
			from pm_data_source 
			where 
				id=#{id}
	    ]]>
	</select>

	<!-- 根据实体对象查询数据结果集 -->
	<select id="selectByEntity" parameterType="com.yinker.etl.pm.model.PmDataSourceQuery" resultMap="etl.PmDataSourceRM">
		<include refid="querySql"/>
		<if test="sortColumns != null and sortColumns != ''">
			order by ${sortColumns}
		</if>
	</select>

	<!-- 分页查询 -查询结果数据 -->
	<select id="selectByPage" parameterType="com.yinker.etl.pm.model.PmDataSourceQuery" resultMap="etl.PmDataSourceRM">
		<include refid="querySql"/>
		<if test="sortColumns != null and sortColumns != ''">
			order by ${sortColumns}
		</if>
	</select>

	<!-- 分页查询 -查询记录总数 -->
	<select id="selectByPageCount" parameterType="com.yinker.etl.pm.model.PmDataSourceQuery" resultType="integer">
		select count(id) from ( <include refid="querySql"/> ) as tmp_pm_data_source
	</select>

</mapper>