<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- namespace命名规则: 表对应java类的名称 -->
<mapper namespace="PmKettleStepsLog">
	<!-- 表的所有字段 -->
	<sql id="allColumns">
		<![CDATA[
			id,
			ID_BATCH,
			CHANNEL_ID,
			LOG_DATE,
			TRANSNAME,
			STEPNAME,
			STEP_COPY,
			LINES_READ,
			LINES_WRITTEN,
			LINES_UPDATED,
			LINES_INPUT,
			LINES_OUTPUT,
			LINES_REJECTED,
			ERRORS
	    ]]>
  	</sql>
	
	<!-- 表的主键字段 -->
	<sql id="pkColumns">
		<![CDATA[
			id
	    ]]>
  	</sql>
	
	<!-- 根据实体的查询对象进行查询的sql -->
	<sql id="querySql">
		select <include refid="allColumns" /> 
			from pm_kettle_steps_log
			<where>	      				
				<if test="id != null and id != ''">
					<![CDATA[and id = #{id}]]>
				</if>
				<if test="idBatch != null">
					<![CDATA[and ID_BATCH = #{idBatch}]]>
				</if>
				<if test="idBatchStart != null">
					<![CDATA[and ID_BATCH >= #{idBatchStart}]]>
				</if>
				<if test="idBatchEnd != null">
					<![CDATA[and ID_BATCH <= #{idBatchEnd}]]>
				</if>
				<if test="channelId != null and channelId != ''">
					<![CDATA[and CHANNEL_ID = #{channelId}]]>
				</if>
				<if test="logDate != null">
					<![CDATA[and LOG_DATE = #{logDate}]]>
				</if>
				<if test="logDateStart != null">
					<![CDATA[and LOG_DATE >= #{logDateStart}]]>
				</if>
				<if test="logDateEnd != null">
					<![CDATA[and LOG_DATE <= #{logDateEnd}]]>
				</if>
				<if test="transname != null and transname != ''">
					<![CDATA[and TRANSNAME = #{transname}]]>
				</if>
				<if test="stepname != null and stepname != ''">
					<![CDATA[and STEPNAME LIKE CONCAT('%', #{stepname}, '%')]]>
				</if>
				<if test="stepCopy != null and stepCopy != ''">
					<![CDATA[and STEP_COPY = #{stepCopy}]]>
				</if>
				<if test="linesRead != null and linesRead != ''">
					<![CDATA[and LINES_READ = #{linesRead}]]>
				</if>
				<if test="linesWritten != null and linesWritten != ''">
					<![CDATA[and LINES_WRITTEN = #{linesWritten}]]>
				</if>
				<if test="linesUpdated != null and linesUpdated != ''">
					<![CDATA[and LINES_UPDATED = #{linesUpdated}]]>
				</if>
				<if test="linesInput != null and linesInput != ''">
					<![CDATA[and LINES_INPUT = #{linesInput}]]>
				</if>
				<if test="linesOutput != null and linesOutput != ''">
					<![CDATA[and LINES_OUTPUT = #{linesOutput}]]>
				</if>
				<if test="linesRejected != null and linesRejected != ''">
					<![CDATA[and LINES_REJECTED = #{linesRejected}]]>
				</if>
				<if test="errors != null and errors != ''">
					<![CDATA[and ERRORS = #{errors}]]>
				</if>
			</where>
	</sql>

	<!-- 新增数据 -->
	<insert id="insert" parameterType="com.yinker.etl.pm.model.base.PmKettleStepsLog">
	    <![CDATA[
			insert into pm_kettle_steps_log (
				id,
				ID_BATCH,
				CHANNEL_ID,
				LOG_DATE,
				TRANSNAME,
				STEPNAME,
				STEP_COPY,
				LINES_READ,
				LINES_WRITTEN,
				LINES_UPDATED,
				LINES_INPUT,
				LINES_OUTPUT,
				LINES_REJECTED,
				ERRORS
			) values (
				#{id},
				#{idBatch},
				#{channelId},
				#{logDate},
				#{transname},
				#{stepname},
				#{stepCopy},
				#{linesRead},
				#{linesWritten},
				#{linesUpdated},
				#{linesInput},
				#{linesOutput},
				#{linesRejected},
				#{errors}
			)
		]]>
	</insert>
	
	<!-- 根据主键删除数据 -->
    <delete id="deleteByPK" parameterType="com.yinker.etl.pm.model.base.PmKettleStepsLogPK">
        <![CDATA[
			delete from pm_kettle_steps_log 
				where
				id=#{id}
    	]]>
    </delete>
   
	<!-- 根据主键更新数据 -->
	<update id="updateByPK" parameterType="com.yinker.etl.pm.model.base.PmKettleStepsLog">
		update pm_kettle_steps_log 
			<set>
				<if test="idBatch != null"><![CDATA[ID_BATCH = #{idBatch},]]></if>
				<if test="channelId != null"><![CDATA[CHANNEL_ID = #{channelId},]]></if>
				<if test="logDate != null"><![CDATA[LOG_DATE = #{logDate},]]></if>
				<if test="transname != null"><![CDATA[TRANSNAME = #{transname},]]></if>
				<if test="stepname != null"><![CDATA[STEPNAME = #{stepname},]]></if>
				<if test="stepCopy != null"><![CDATA[STEP_COPY = #{stepCopy},]]></if>
				<if test="linesRead != null"><![CDATA[LINES_READ = #{linesRead},]]></if>
				<if test="linesWritten != null"><![CDATA[LINES_WRITTEN = #{linesWritten},]]></if>
				<if test="linesUpdated != null"><![CDATA[LINES_UPDATED = #{linesUpdated},]]></if>
				<if test="linesInput != null"><![CDATA[LINES_INPUT = #{linesInput},]]></if>
				<if test="linesOutput != null"><![CDATA[LINES_OUTPUT = #{linesOutput},]]></if>
				<if test="linesRejected != null"><![CDATA[LINES_REJECTED = #{linesRejected},]]></if>
				<if test="errors != null"><![CDATA[ERRORS = #{errors},]]></if>
			</set>
		where 
			id=#{id}
	</update>
	
	<!-- 根据主键查询对象 -->
	<select id="selectByPK" parameterType="com.yinker.etl.pm.model.base.PmKettleStepsLogPK" resultMap="etl.PmKettleStepsLogRM">
        select <include refid="allColumns" />
	    <![CDATA[
			from pm_kettle_steps_log 
			where 
				id=#{id}
	    ]]>
	</select>
	
	<!-- 根据实体对象查询数据结果集 -->
	<select id="selectByEntity" parameterType="com.yinker.etl.pm.model.PmKettleStepsLogQuery" resultMap="etl.PmKettleStepsLogRM">
		<include refid="querySql"/>
		<if test="sortColumns != null and sortColumns != ''">
			order by ${sortColumns}
		</if>
	</select>
	
	<!-- 分页查询 -查询结果数据 -->
	<select id="selectByPage" parameterType="com.yinker.etl.pm.model.PmKettleStepsLogQuery" resultMap="etl.PmKettleStepsLogRM">
		<include refid="querySql"/>
		<if test="sortColumns != null and sortColumns != ''">
			order by ${sortColumns}
		</if>
	</select>
	
	<!-- 分页查询 -查询记录总数 -->
	<select id="selectByPageCount" parameterType="com.yinker.etl.pm.model.PmKettleStepsLogQuery" resultType="integer">
		select count(id) from ( <include refid="querySql"/> ) as tmp_pm_kettle_steps_log
	</select>

	<!-- 分页查询 -查询结果数据 -->
	<select id="myPageQuery" parameterType="com.yinker.etl.pm.model.PmKettleStepsLogQuery"
			resultMap="etl.PmKettleStepsLogRM">
		select
		<include refid="allColumns"/>
		from pm_kettle_steps_log
		<where>
		<if test="transname != null and transname != ''">
			<![CDATA[TRANSNAME IN ${transname}]]>
	    </if>
		<if test="stepname != null and stepname != ''">
			<![CDATA[and STEPNAME LIKE CONCAT('%', #{stepname}, '%')]]>
	    </if>
		<if test="logDateStart != null">
			<![CDATA[and LOG_DATE >= #{logDateStart}]]>
	    </if>
	    <if test="logDateEnd != null">
		    <![CDATA[and LOG_DATE <= #{logDateEnd}]]>
	    </if>
	    </where>
		<if test="sortColumns != null and sortColumns != ''">
			<![CDATA[order by ${sortColumns}]]>
		</if>
	</select>

	<!-- 分页查询 -查询记录总数 -->
	<select id="myPageQueryCount" parameterType="com.yinker.etl.pm.model.PmKettleStepsLogQuery" resultType="integer">
		select COUNT(1) from pm_kettle_steps_log where TRANSNAME IN ${transname}
	</select>

	<!-- 分页查询 -查询结果数据 -->
	<select id="channelPageQuery" parameterType="com.yinker.etl.pm.model.PmKettleStepsLogQuery"
			resultMap="etl.PmKettleStepsLogRM">
		select
		s.id,
		s.ID_BATCH,
		s.CHANNEL_ID,
		s.LOG_DATE,
		s.TRANSNAME,
		s.STEPNAME,
		s.STEP_COPY,
		s.LINES_READ,
		s.LINES_WRITTEN,
		s.LINES_UPDATED,
		s.LINES_INPUT,
		s.LINES_OUTPUT,
		s.LINES_REJECTED,
		s.ERRORS
		from pm_kettle_steps_log s
		INNER JOIN pm_kettle_channel_log c ON c.CHANNEL_ID = s.CHANNEL_ID
		AND c.PARENT_CHANNEL_ID = #{channelId}
		AND c.LOGGING_OBJECT_TYPE = 'STEP'
		order by s.id

	</select>

	<!-- 分页查询 -查询记录总数 -->
	<select id="channelPageQueryCount" parameterType="com.yinker.etl.pm.model.PmKettleStepsLogQuery" resultType="integer">
		select COUNT(1) from pm_kettle_steps_log s
		INNER JOIN pm_kettle_channel_log c ON c.CHANNEL_ID = s.CHANNEL_ID
		AND c.PARENT_CHANNEL_ID = #{channelId}
		AND c.LOGGING_OBJECT_TYPE = 'STEP'
	</select>
	
</mapper>